<footer class="bg-danger">
  <div>
    <div class="row">
      <div class="col-md-6">
        <h2> About Us</h2>
        <p> Pham Van Dinh</p>
      </div>
      <div class="col-md-6">
        <h2>Contract Us</h2>
        <hr>
        <form action="" method="post" role="form">
          <div class="form-group">
            <label for="">Email</label>
            <input type="text" class="form-control" id="" placeholder="Input field">
          </div>
          <button type="submit" class="btn btn-primary">Summit</button>
        </form>
      </div>
    </div>
  </div>
</footer>
